<body>



    <div class="row">
      <div class="column" >
        <label for="">First Name</label>
        <br><br>
        <input class="w3-input" type="text">
        <br><br>
        <label for="">ID Number</label>
        <br><br>
        <input class="w3-input" type="text">
        <br><br>
        <label for="">Phone Number</label>
        <br><br>
        <input class="w3-input" type="text">
      </div>
      <div class="column">
        <label for="">Last Name</label>
        <br><br>
        <input class="w3-input" type="text">
        <br><br>
        <label for="">Staff Number</label>
        <br><br>
        <input class="w3-input" type="text">
        <br><br>
        <label for="">Gender</label>
        <br><br>
        <input class="w3-input" type="text">
      </div>
    </div>
    <div >
<button>ADD STAFF</button>
<button>CANCEL</button>

    </div>
    </body>
